
body {
  font-family: "SUSE", sans-serif;
  background-color: #e0f7fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  margin-top: 1rem;
  text-align: center;
  color: #00796b;
  margin-bottom: 0rem;
  font-size: 1.75rem;
}

p {
  margin-bottom: 0.7rem;
  font-size: 1.25rem;
  text-align: center;
  margin-top: 0;
}

#paymentForm {
  background-color: #ffffff;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
  max-width: 31.25rem;
  width: 100%;
  padding: 1.25rem;
  margin: 0 auto;
  box-sizing: border-box;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: #00796b;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 0.625rem;
  margin-bottom: 0.9375rem;
  border: 0.0625rem solid #b2dfdb;
  border-radius: 0.3125rem;
  box-sizing: border-box;
}

input:focus {
  border-color: #004d40;
  outline: none;
  box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.2);
}

button {
  background-color: #00796b;
  color: #ffffff;
  border: none;
  padding: 0.9375rem;
  border-radius: 0.3125rem;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #004d40;
}


#result {
  margin-top: 1rem;
  padding: 0.5rem;
  text-align: center;
  background-color: #b2dfdb; 
  color: #004d40; 
  border-radius: 0.3125rem; 
  font-weight: bold;
  max-width: 31.25rem;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
}

@media (max-width: 37.5rem) {
  #paymentForm {
    padding: 1rem;
  }

  body {
    padding: 0.5rem;
  }

  button {
    padding: 0.75rem;
    font-size: 0.875rem;
  }

  #result {
    padding: 0.75rem;
    font-size: 0.875rem;
  }
}
